:root {
    --font-family: monospace;
}
dialog footer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
button {
    width: 10rem;
}
#branding {
    display: flex;
    flex-direction: row;
    align-items: center;
}
