nav {
    height: 10%;
}
.style-debug nav {
    background-color: darkviolet;
}
#branding img {
    margin-left: 10px;
}
nav.top {
    padding-top: 10px;
}
h1,h2,h3,h4 {
    --typography-spacing-vertical: 0;
}
h1 {
    --font-size:1.5rem;
}
h2 {
    --font-size:1.0rem;
}
h3 {
    --font-size:1.0rem;
}
